<h1 class="search-title">Search result:</h1>

<div class="apple_pagination">
    <%= will_paginate @articles, :container => false %>
</div>

<div class="row">
    <%= render 'articles/article' %>
</div>

<div class="apple_pagination">
    <%= will_paginate @articles, :container => false %>
</div>