.button_to {
  display: inline-block;
}

.image-article-preview {
  overflow: hidden;
  margin-bottom: 10px;
  img {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }
}

.card-article-body {
  padding: 5px !important;
}
